input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4a53c7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  align-self: center;
  margin-left: 20px;
  width: 97%;
}

button:hover {
  opacity: 0.8;
}

.input-username {
  margin-bottom: 0.5rem;
  /*padding-bottom: 20px;*/}

.input-password {
  margin-top: 0.5rem;
}

.login-container {
  align-self: center;
  width: 30%;
  margin: auto;
  margin-top: auto;
  padding-top: 20em;
}
